<div class="post-card" style="margin-top: 40px;">
    <!-- Header with Avatar, Title, Timestamp, and Menu Icon -->
    <div class="post-header">
        <img class="profile_picture" [src]="commonService.imgCheck(post.userPfp)" alt="">
        <div class="post-details">
            <h3 style="font-weight: 600;color: rgb(83, 83, 83);font-size: 1rem;">{{post.username}}</h3>
            <p class="timestamp">{{commonService.timeAgo(post.uploadTime)}}</p>
        </div>
        <button class="menu-button">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Post Text Content -->
    <div class="post-content">
        <p>
            {{post.text}}
        </p>
    </div>

    <!-- Post Images -->
    <div *ngIf="post.images[0]!=''||null||undefined" class="post-images">
        <img [src]="post.images[0]" alt="Image" class="post-image">
    </div>

    <!-- Post Actions (Like, Comment, Share) -->
    <div class="post-actions">
        <button (click)="commonService.likeContent(post)">
            <mat-icon [ngClass]="{ 'clicked': post.isLiked}">favorite</mat-icon>
            <span>{{post.likeCount}}</span>
        </button>
        <button>
            <mat-icon>comment</mat-icon>
            <span>{{post.comments.length}}</span>
        </button>
        <button>
            <mat-icon>share</mat-icon>
            <span>{{post.shareCount}}</span>
        </button>
    </div>
    <hr *ngIf="post.comments.length>0">


    <div class="quick-post-container">
        <div style="display: flex;">
            <img class="profile_picture" style="height: 30px;width: 30px;" [src]="currentUser.profilePicture" alt="">
            <textarea class="text-area" placeholder="What is on your mind right now?" type="text"></textarea>
        </div>
        <div class="bottom-quick-post-container">
            <div class="attachment-container">
                <mat-icon>image</mat-icon>
                <mat-icon> attach_file</mat-icon>
                <mat-icon> location_on</mat-icon>
                <mat-icon>tag_faces</mat-icon>
            </div>
            <button type="button" class="post-button">Post</button>
        </div>
    </div>


    <!-- Comments under post -->
    <div style="background-color: rgb(250, 250, 250);border-radius: 10px 10px 10px 10px;">
        <div *ngFor="let comment of postService.getTopComments(post.comments,5)"
            style="display: flex;flex-direction: column;border-radius: 5%;margin: 10px 0 0 0;padding: 10px;border-bottom: 1px solid rgb(0, 0, 0,0.1);">
            <div class="post-header" style="margin-left: 10px;height: 20px;margin-top: 10px;">
                <img class="profile_picture" style="height: 30px;width: 30px;"
                    [src]="commonService.imgCheck(comment.userPfp)" alt="">
                <div class="post-details">
                    <p style="margin: 0;">{{comment.username}}</p>
                    <p class="timestamp" style="margin: 0 0 0 0;">{{commonService.timeAgo(comment.uploadTime)}}</p>
                </div>
                <div class="post-actions" style="margin: 0 0 18px 0;">
                    <button (click)="commonService.likeContent(comment)">
                        <mat-icon [ngClass]="{ 'clicked': comment.isLiked}">favorite</mat-icon>
                        <span>{{comment.likeCount}}</span>
                    </button>
                    <button>
                        <mat-icon>reply</mat-icon>
                    </button>
                </div>
            </div>
            <p style="margin: 0 0 0 10px;font-size: 0.9rem;">{{comment.text.substring(0,100)}}<span
                    *ngIf="comment.text.length>200">...</span></p>
        </div>
    </div>
</div>